In [22]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
import pandas as pd
from bs4 import BeautifulSoup
import time
import os

cwd = os.getcwd()

# Specify the path to the Edge WebDriver executable file
driver_path = f"{cwd}\\edgedriver_win64\\msedgedriver.exe"

# Create a Service object with the executable path
service = Service(driver_path)

# Set up the Edge WebDriver using the Service object
driver = webdriver.Edge(service=service)

# Define the URL
link = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3AOR%3Amake%3A%3D%3Ahonda%3AOR%3Amake%3A%3D%3Atata&sort=bestmatch&serveWarrantyCount=true&gaId=1279799800.1722605877&storeCityId=2"


# Function to scroll and load page content
def scroll_and_load_page(driver, scroll_pause_time=2):
    last_height = driver.execute_script("return document.body.scrollHeight")
    
    while True:
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        time.sleep(scroll_pause_time)
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

# Navigate to the Amazon.in best sellers page
driver.get(link)

# Wait for the page to load and perform scrolling
time.sleep(5)
scroll_and_load_page(driver)

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# First data extraction: Car names and years
car_name_year_elements = soup.find_all('h3', {'class': '_11dVb'})
car_name_year = [car.text for car in car_name_year_elements]

name = []  # spliting the car names from car_name_year and appending in name list
year = [] # spliting the year of registration from car_name_year and appending in year list

for i in car_name_year:
    car_year, car_name = i.split(" ",1)
    name.append(car_name)
    year.append(car_year)
    
# Reload the page to perform the second extraction
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> second data extraction: Km driven 
# Parse the page source again with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Second data extraction: Kilometers
km_elements = soup.find_all('ul', {'class': '_3J2G-'})
km = []

for i in km_elements:
    lis = i.find_all("li")
    if len(lis) >= 2:
        sec_li = lis[0]
        text = sec_li.get_text(strip=True)
        km.append(text if text else 'N/A')

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> Third data extraction: fuel type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
fuel_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[2]
        text = sec_li.get_text(strip=True)
        fuel_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fourth data extration: transmission type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
transmission_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[4]
        text = sec_li.get_text(strip=True)
        transmission_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fifth data extraction: Discount price

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('strong', {'class': '_3RL-I'})
discount_price = []

for i in data:
    discount_price.append(i.get_text() if i else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> sixth data extraction: actual price
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
actual_price = []
# 
for i in data:
    span = i.find("span")
    # 
    actual_price.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> Seventh data extraction: discount offered
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
discount = []
# 
for i in data:
    span = i.find('span',{'class': 'YWP1x'})
    discount.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)


# -----> Eighth data extration: model
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2YB7p'})
add_ons = []

for i in data:
    span = i.find("span",{'class':'_3JoYA'})
    add_ons.append(span.get_text() if span else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# ----->  last attribute : test drive location 
test_drive_loc = []
for i in soup:
    drive_location_div = i.find_all("div",{'class':'_2YB7p'})
    for i in drive_location_div:
        if i.find("p",{'class':'_3dGMY'}):
            p_tag = i.find_all("p",{'class':'_3dGMY'})
            for tag in p_tag:
                spans = tag.find_all("span")
                span = spans[1]
                if span:
                    test_drive_loc.append(span.get_text())
    else:
        tokens = soup.find_all("span",{'class':'_1MKmC'})
        for token in tokens:
            test_drive_loc.append(token.get_text())

    
# close the driver
driver.quit()


# feature spliting for brand and model from name list 
brand = []
car_model = []
for i in name:
    brand_name, model_name = i.split(" ",1)
    brand.append(brand_name)
    car_model.append(model_name)

# last data extraction : location
location = [soup.find("div",{'class':'_2SBi0'}).get_text()] * len(name)

In [27]:
list_1 =[len(brand), len(car_model), len(year), len(km), len(fuel_type), len(transmission_type) ,len(add_ons), len(discount_price), len(actual_price),len(discount) , len(location) ,len(test_drive_loc)] 
for i in list_1:
    print(i)

20
20
20
529
529
529
529
529
529
529
20
529

In [25]:
assert len(brand) == len(car_model) == len(year) == len(km) == len(fuel_type) == len(transmission_type) == len(add_ons) == len(discount_price) == len(actual_price) == len(discount) == len(location) == len(test_drive_loc)

AssertionError:

In [ ]:
data = list(zip(brand, car_model, year, km, fuel_type, transmission_type, add_ons, discount_price, actual_price, discount, location, test_drive_loc))
columns = ['Brand', 'Model', 'Registered Year', 'Km Driven', 'Fuel Type', 'Transmission Type', 'Add ONs', 'Offer Price','Original Price','Discount Offered','Location','Test Drive Location']
delhi_data = pd.DataFrame(data, columns=columns)

In [ ]:
delhi_data

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,₹2.31 Lakh,₹2.60 Lakh,(28.76k off),New Delhi,"Chhatarpur, Delhi"
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,₹3.33 Lakh,₹3.56 Lakh,(23k off),New Delhi,"Metro Walk, Rohini, New Delhi"
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,₹5.57 Lakh,₹6.13 Lakh,(56k off),New Delhi,"Chhatarpur, Delhi"
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,₹3.98 Lakh,₹4.29 Lakh,(31k off),New Delhi,"M3M Urbana, Golf Course Ext., Gurugram"
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,₹6.00 Lakh,₹6.45 Lakh,(44.53k off),New Delhi,"Metro Walk, Rohini, New Delhi"
...,...,...,...,...,...,...,...,...,...,...,...,...
531,Maruti,Swift VXI,2019,"42,091 km",Petrol,Manual,Safety specs.,₹4.68 Lakh,N/A,N/A,New Delhi,Currently tokened
532,Maruti,IGNIS DELTA 1.2 AMT,2019,"8,644 km",Petrol,Automatic,Reg. serviced,₹5.21 Lakh,N/A,N/A,New Delhi,Currently tokened
533,Maruti,Eeco 5 STR WITH A/C+HTR CNG,2019,"62,412 km",CNG,Manual,100% tyre life,₹4.68 Lakh,N/A,N/A,New Delhi,Currently tokened
534,Maruti,IGNIS ZETA 1.2 AMT,2020,"50,179 km",Petrol,Automatic,Alloy wheels,₹5.47 Lakh,N/A,N/A,New Delhi,Currently tokened
535,Maruti,Alto K10 VXI AMT,2015,"18,900 km",Petrol,Automatic,Top Model,₹2.86 Lakh,N/A,N/A,New Delhi,Currently tokened

In [10]:
len(delhi_data[delhi_data['Test Drive Location'] == 'Currently tokened'])

60

In [ ]:
delhi_data.to_excel(f'{cwd}\\output_file.xlsx', index=False)

In [12]:
import pandas as pd

data = pd.read_excel(f"{cwd}\\output_file.xlsx")
data

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,₹2.31 Lakh,₹2.60 Lakh,(28.76k off),New Delhi,"Chhatarpur, Delhi"
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,₹3.33 Lakh,₹3.56 Lakh,(23k off),New Delhi,"Metro Walk, Rohini, New Delhi"
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,₹5.57 Lakh,₹6.13 Lakh,(56k off),New Delhi,"Chhatarpur, Delhi"
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,₹3.98 Lakh,₹4.29 Lakh,(31k off),New Delhi,"M3M Urbana, Golf Course Ext., Gurugram"
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,₹6.00 Lakh,₹6.45 Lakh,(44.53k off),New Delhi,"Metro Walk, Rohini, New Delhi"
...,...,...,...,...,...,...,...,...,...,...,...,...
531,Maruti,Swift VXI,2019,"42,091 km",Petrol,Manual,Safety specs.,₹4.68 Lakh,NaN,NaN,New Delhi,Currently tokened
532,Maruti,IGNIS DELTA 1.2 AMT,2019,"8,644 km",Petrol,Automatic,Reg. serviced,₹5.21 Lakh,NaN,NaN,New Delhi,Currently tokened
533,Maruti,Eeco 5 STR WITH A/C+HTR CNG,2019,"62,412 km",CNG,Manual,100% tyre life,₹4.68 Lakh,NaN,NaN,New Delhi,Currently tokened
534,Maruti,IGNIS ZETA 1.2 AMT,2020,"50,179 km",Petrol,Automatic,Alloy wheels,₹5.47 Lakh,NaN,NaN,New Delhi,Currently tokened
535,Maruti,Alto K10 VXI AMT,2015,"18,900 km",Petrol,Automatic,Top Model,₹2.86 Lakh,NaN,NaN,New Delhi,Currently tokened

In [13]:
data[data['Brand'] == 'Maruti']['Model'].value_counts().reset_index()

                           Model  count
0        Baleno DELTA PETROL 1.2     34
1         Baleno ZETA PETROL 1.2     30
2                      Swift VXI     16
3        Baleno ALPHA PETROL 1.2     10
4                      Ciaz VXI+      8
..                           ...    ...
102      Baleno ALPHA DIESEL 1.3      1
103             S PRESSO VXI (O)      1
104                   Ertiga LXI      1
105               Wagon R 1.0 LX      1
106  Eeco 5 STR WITH A/C+HTR CNG      1

[107 rows x 2 columns]

----

# Ankesh

In [28]:
link = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3AOR%3Amake%3A%3D%3Ahonda%3AOR%3Amake%3A%3D%3Atata&sort=bestmatch&serveWarrantyCount=true&gaId=1279799800.1722605877&storeCityId=2"

from selenium import webdriver
from selenium.webdriver.edge.service import Service
import pandas as pd
from bs4 import BeautifulSoup
import time
import os

cwd = os.getcwd()

# Specify the path to the Edge WebDriver executable file
driver_path = f"{cwd}\\edgedriver_win64\\msedgedriver.exe"

# Create a Service object with the executable path
service = Service(driver_path)

# Set up the Edge WebDriver using the Service object
driver = webdriver.Edge(service=service)

# Define the URL
# link = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3AOR%3Amake%3A%3D%3Ahonda%3AOR%3Amake%3A%3D%3Atata&sort=bestmatch&serveWarrantyCount=true&gaId=1279799800.1722605877&storeCityId=2"


# Function to scroll and load page content
def scroll_and_load_page(driver, scroll_pause_time=2):
    last_height = driver.execute_script("return document.body.scrollHeight")
    
    while True:
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        time.sleep(scroll_pause_time)
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

# Navigate to the Amazon.in best sellers page
driver.get(link)

# Wait for the page to load and perform scrolling
time.sleep(5)
scroll_and_load_page(driver)

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# First data extraction: Car names and years
car_name_year_elements = soup.find_all('h3', {'class': '_11dVb'})
car_name_year = [car.text for car in car_name_year_elements]

name = []  # spliting the car names from car_name_year and appending in name list
year = [] # spliting the year of registration from car_name_year and appending in year list

for i in car_name_year:
    car_year, car_name = i.split(" ",1)
    name.append(car_name)
    year.append(car_year)
    
# Reload the page to perform the second extraction
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> second data extraction: Km driven 
# Parse the page source again with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Second data extraction: Kilometers
km_elements = soup.find_all('ul', {'class': '_3J2G-'})
km = []

for i in km_elements:
    lis = i.find_all("li")
    if len(lis) >= 2:
        sec_li = lis[0]
        text = sec_li.get_text(strip=True)
        km.append(text if text else 'N/A')

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> Third data extraction: fuel type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
fuel_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[2]
        text = sec_li.get_text(strip=True)
        fuel_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fourth data extration: transmission type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
transmission_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[4]
        text = sec_li.get_text(strip=True)
        transmission_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fifth data extraction: Discount price

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('strong', {'class': '_3RL-I'})
discount_price = []

for i in data:
    discount_price.append(i.get_text() if i else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> sixth data extraction: actual price
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
actual_price = []
# 
for i in data:
    span = i.find("span")
    # 
    actual_price.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> Seventh data extraction: discount offered
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
discount = []
# 
for i in data:
    span = i.find('span',{'class': 'YWP1x'})
    discount.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)


# -----> Eighth data extration: model
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2YB7p'})
add_ons = []

for i in data:
    span = i.find("span",{'class':'_3JoYA'})
    add_ons.append(span.get_text() if span else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# ----->  last attribute : test drive location 
test_drive_loc = []
for i in soup:
    drive_location_div = i.find_all("div",{'class':'_2YB7p'})
    for i in drive_location_div:
        if i.find("p",{'class':'_3dGMY'}):
            p_tag = i.find_all("p",{'class':'_3dGMY'})
            for tag in p_tag:
                spans = tag.find_all("span")
                span = spans[1]
                if span:
                    test_drive_loc.append(span.get_text())
    else:
        tokens = soup.find_all("span",{'class':'_1MKmC'})
        for token in tokens:
            test_drive_loc.append(token.get_text())

    
# close the driver
driver.quit()


# feature spliting for brand and model from name list 
brand = []
car_model = []
for i in name:
    brand_name, model_name = i.split(" ",1)
    brand.append(brand_name)
    car_model.append(model_name)

# last data extraction : location
location = [soup.find("div",{'class':'_2SBi0'}).get_text()] * len(name)
assert len(brand) == len(car_model) == len(year) == len(km) == len(fuel_type) == len(transmission_type) == len(add_ons) == len(discount_price) == len(actual_price) == len(discount) == len(location) == len(test_drive_loc)

data = list(zip(brand, car_model, year, km, fuel_type, transmission_type, add_ons, discount_price, actual_price, discount, location, test_drive_loc))
columns = ['Brand', 'Model', 'Registered Year', 'Km Driven', 'Fuel Type', 'Transmission Type', 'Add ONs', 'Offer Price','Original Price','Discount Offered','Location','Test Drive Location']
satwik_data = pd.DataFrame(data, columns=columns)
satwik_data.to_excel(f'{cwd}\\satwik.xlsx', index=False)

In [17]:
assert len(brand) == len(car_model) == len(year) == len(km) == len(fuel_type) == len(transmission_type) == len(add_ons) == len(discount_price) == len(actual_price) == len(discount) == len(location) == len(test_drive_loc)

In [18]:

data = list(zip(brand, car_model, year, km, fuel_type, transmission_type, add_ons, discount_price, actual_price, discount, location, test_drive_loc))
columns = ['Brand', 'Model', 'Registered Year', 'Km Driven', 'Fuel Type', 'Transmission Type', 'Add ONs', 'Offer Price','Original Price','Discount Offered','Location','Test Drive Location']
ankesh_data = pd.DataFrame(data, columns=columns)

In [19]:
ankesh_data

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Baleno ZETA PETROL 1.2,2022,"33,086 km",Petrol,Manual,As good as new,₹7.76 Lakh,₹7.99 Lakh,(22.95k off),Hyderabad,"Kompally, Hyderabad"
1,Maruti,Ciaz ZETA 1.4 AT PETROL,2018,"88,132 km",Petrol,Automatic,Alloy wheels,₹7.57 Lakh,₹8.45 Lakh,(88.29k off),Hyderabad,"Attapur, Hyderabad"
2,Maruti,Alto LXI,2019,"31,475 km",Petrol,Manual,100% tyre life,₹3.26 Lakh,₹3.53 Lakh,(27.1k off),Hyderabad,"Attapur, Hyderabad"
3,Maruti,Ciaz DELTA AT 1.5 SHVS PETROL,2019,"55,281 km",Petrol,Automatic,Alloy wheels,₹7.19 Lakh,₹7.93 Lakh,(74.12k off),Hyderabad,"Attapur, Hyderabad"
4,Maruti,Baleno ZETA CVT PETROL 1.2,2020,"47,699 km",Petrol,Automatic,Alloy wheels,₹7.60 Lakh,₹8.12 Lakh,(51.65k off),Hyderabad,"Attapur, Hyderabad"
...,...,...,...,...,...,...,...,...,...,...,...,...
305,Honda,Amaze 1.2L I-VTEC S OPT,2018,"58,138 km",Petrol,Manual,100% tyre life,₹5.00 Lakh,₹5.66 Lakh,(66k off),Hyderabad,Currently tokened
306,Maruti,Alto 800 LXI,2013,"49,551 km",Petrol,Manual,Reg. serviced,₹2.19 Lakh,₹2.57 Lakh,(38.2k off),Hyderabad,Currently tokened
307,Maruti,Celerio ZXI AMT,2016,"87,131 km",Petrol,Automatic,Top Model,₹4.14 Lakh,N/A,N/A,Hyderabad,Currently tokened
308,Maruti,Swift VXI,2020,"43,464 km",Petrol,Manual,Safety specs.,₹5.84 Lakh,N/A,N/A,Hyderabad,Currently tokened
309,Honda,Jazz 1.2L I-VTEC V AT,2017,"83,349 km",Petrol,Automatic,Alloy wheels,₹5.76 Lakh,N/A,N/A,Hyderabad,Currently tokened

In [24]:
ankesh_data.to_excel(f'{cwd}\\ankesh.xlsx', index=False)

---

# Nazar data

In [22]:
link = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3AOR%3Amake%3A%3D%3Ahonda&sort=bestmatch&serveWarrantyCount=true&gaId=1279799800.1722605877&storeCityId=2378"

from selenium import webdriver
from selenium.webdriver.edge.service import Service
import pandas as pd
from bs4 import BeautifulSoup
import time
import os

cwd = os.getcwd()

# Specify the path to the Edge WebDriver executable file
driver_path = f"{cwd}\\edgedriver_win64\\msedgedriver.exe"

# Create a Service object with the executable path
service = Service(driver_path)

# Set up the Edge WebDriver using the Service object
driver = webdriver.Edge(service=service)

# Define the URL
# link = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3AOR%3Amake%3A%3D%3Ahonda%3AOR%3Amake%3A%3D%3Atata&sort=bestmatch&serveWarrantyCount=true&gaId=1279799800.1722605877&storeCityId=2"


# Function to scroll and load page content
def scroll_and_load_page(driver, scroll_pause_time=2):
    last_height = driver.execute_script("return document.body.scrollHeight")
    
    while True:
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        time.sleep(scroll_pause_time)
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

# Navigate to the Amazon.in best sellers page
driver.get(link)

# Wait for the page to load and perform scrolling
time.sleep(5)
scroll_and_load_page(driver)

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# First data extraction: Car names and years
car_name_year_elements = soup.find_all('h3', {'class': '_11dVb'})
car_name_year = [car.text for car in car_name_year_elements]

name = []  # spliting the car names from car_name_year and appending in name list
year = [] # spliting the year of registration from car_name_year and appending in year list

for i in car_name_year:
    car_year, car_name = i.split(" ",1)
    name.append(car_name)
    year.append(car_year)
    
# Reload the page to perform the second extraction
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> second data extraction: Km driven 
# Parse the page source again with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Second data extraction: Kilometers
km_elements = soup.find_all('ul', {'class': '_3J2G-'})
km = []

for i in km_elements:
    lis = i.find_all("li")
    if len(lis) >= 2:
        sec_li = lis[0]
        text = sec_li.get_text(strip=True)
        km.append(text if text else 'N/A')

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> Third data extraction: fuel type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
fuel_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[2]
        text = sec_li.get_text(strip=True)
        fuel_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fourth data extration: transmission type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
transmission_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[4]
        text = sec_li.get_text(strip=True)
        transmission_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fifth data extraction: Discount price

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('strong', {'class': '_3RL-I'})
discount_price = []

for i in data:
    discount_price.append(i.get_text() if i else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> sixth data extraction: actual price
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
actual_price = []
# 
for i in data:
    span = i.find("span")
    # 
    actual_price.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> Seventh data extraction: discount offered
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
discount = []
# 
for i in data:
    span = i.find('span',{'class': 'YWP1x'})
    discount.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)


# -----> Eighth data extration: model
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2YB7p'})
add_ons = []

for i in data:
    span = i.find("span",{'class':'_3JoYA'})
    add_ons.append(span.get_text() if span else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# ----->  last attribute : test drive location 
test_drive_loc = []
for i in soup:
    drive_location_div = i.find_all("div",{'class':'_2YB7p'})
    for i in drive_location_div:
        if i.find("p",{'class':'_3dGMY'}):
            p_tag = i.find_all("p",{'class':'_3dGMY'})
            for tag in p_tag:
                spans = tag.find_all("span")
                span = spans[1]
                if span:
                    test_drive_loc.append(span.get_text())
    else:
        tokens = soup.find_all("span",{'class':'_1MKmC'})
        for token in tokens:
            test_drive_loc.append(token.get_text())

    
# close the driver
driver.quit()


# feature spliting for brand and model from name list 
brand = []
car_model = []
for i in name:
    brand_name, model_name = i.split(" ",1)
    brand.append(brand_name)
    car_model.append(model_name)

# last data extraction : location
location = [soup.find("div",{'class':'_2SBi0'}).get_text()] * len(name)

assert len(brand) == len(car_model) == len(year) == len(km) == len(fuel_type) == len(transmission_type) == len(add_ons) == len(discount_price) == len(actual_price) == len(discount) == len(location) == len(test_drive_loc)
data = list(zip(brand, car_model, year, km, fuel_type, transmission_type, add_ons, discount_price, actual_price, discount, location, test_drive_loc))
columns = ['Brand', 'Model', 'Registered Year', 'Km Driven', 'Fuel Type', 'Transmission Type', 'Add ONs', 'Offer Price','Original Price','Discount Offered','Location','Test Drive Location']
nazar_data = pd.DataFrame(data, columns=columns)
nazar_data

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Dzire VXI AMT,2018,"51,852 km",Petrol,Automatic,Reg. serviced,₹5.50 Lakh,₹6.44 Lakh,(94k off),Mumbai,"Goregaon, Mumbai"
1,Maruti,Swift Dzire ZDI,2014,"11,144 km",Diesel,Manual,Top Model,₹6.13 Lakh,₹6.55 Lakh,(42k off),Mumbai,"Goregaon, Mumbai"
2,Maruti,Wagon R 1.0 VXI,2012,"42,425 km",Petrol,Manual,Top Model,₹2.31 Lakh,₹2.42 Lakh,(11k off),Mumbai,"Goregaon, Mumbai"
3,Honda,WR-V 1.2L I-VTEC VX MT,2018,"59,897 km",Petrol,Manual,Top Model,₹7.11 Lakh,₹7.60 Lakh,(49k off),Mumbai,"Goregaon, Mumbai"
4,Maruti,Ertiga ZXI (O) CNG,2022,"20,619 km",CNG,Manual,Spl. reg. no.,₹11.92 Lakh,N/A,N/A,Mumbai,"Mulund West, Mumbai \n"
...,...,...,...,...,...,...,...,...,...,...,...,...
264,Maruti,Alto 800 LXI,2014,"40,783 km",Petrol,Manual,Reg. serviced,₹2.11 Lakh,₹2.71 Lakh,(59.72k off),Mumbai,Currently tokened
265,Maruti,Baleno ZETA CVT PETROL 1.2,2021,"14,683 km",Petrol,Automatic,Alloy wheels,₹7.87 Lakh,N/A,N/A,Mumbai,Currently tokened
266,Maruti,Alto 800 LXI CNG,2013,"66,699 km",CNG,Manual,100% tyre life,₹1.92 Lakh,N/A,N/A,Mumbai,Currently tokened
267,Maruti,Swift Dzire ZXI,2017,"34,196 km",Petrol,Manual,Top Model,₹5.19 Lakh,N/A,N/A,Mumbai,Currently tokened
268,Honda,Amaze 1.2L I-VTEC VX,2018,"58,121 km",Petrol,Manual,Top Model,₹5.73 Lakh,₹6.59 Lakh,(86.34k off),Mumbai,Currently tokened

In [23]:
nazar_data.to_excel(f'{cwd}\\nazar_data.xlsx', index=False)

----

# Homya data

In [27]:
link = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Atata&sort=bestmatch&serveWarrantyCount=true&gaId=1279799800.1722605877&listingSource=TabFilter&storeCityId=2378"

from selenium import webdriver
from selenium.webdriver.edge.service import Service
import pandas as pd
from bs4 import BeautifulSoup
import time
import os

cwd = os.getcwd()

# Specify the path to the Edge WebDriver executable file
driver_path = f"{cwd}\\edgedriver_win64\\msedgedriver.exe"

# Create a Service object with the executable path
service = Service(driver_path)

# Set up the Edge WebDriver using the Service object
driver = webdriver.Edge(service=service)

# Define the URL
# link = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3AOR%3Amake%3A%3D%3Ahonda%3AOR%3Amake%3A%3D%3Atata&sort=bestmatch&serveWarrantyCount=true&gaId=1279799800.1722605877&storeCityId=2"


# Function to scroll and load page content
def scroll_and_load_page(driver, scroll_pause_time=2):
    last_height = driver.execute_script("return document.body.scrollHeight")
    
    while True:
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        time.sleep(scroll_pause_time)
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

# Navigate to the Amazon.in best sellers page
driver.get(link)

# Wait for the page to load and perform scrolling
time.sleep(5)
scroll_and_load_page(driver)

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# First data extraction: Car names and years
car_name_year_elements = soup.find_all('h3', {'class': '_11dVb'})
car_name_year = [car.text for car in car_name_year_elements]

name = []  # spliting the car names from car_name_year and appending in name list
year = [] # spliting the year of registration from car_name_year and appending in year list

for i in car_name_year:
    car_year, car_name = i.split(" ",1)
    name.append(car_name)
    year.append(car_year)
    
# Reload the page to perform the second extraction
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> second data extraction: Km driven 
# Parse the page source again with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Second data extraction: Kilometers
km_elements = soup.find_all('ul', {'class': '_3J2G-'})
km = []

for i in km_elements:
    lis = i.find_all("li")
    if len(lis) >= 2:
        sec_li = lis[0]
        text = sec_li.get_text(strip=True)
        km.append(text if text else 'N/A')

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> Third data extraction: fuel type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
fuel_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[2]
        text = sec_li.get_text(strip=True)
        fuel_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fourth data extration: transmission type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
transmission_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[4]
        text = sec_li.get_text(strip=True)
        transmission_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fifth data extraction: Discount price

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('strong', {'class': '_3RL-I'})
discount_price = []

for i in data:
    discount_price.append(i.get_text() if i else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> sixth data extraction: actual price
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
actual_price = []
# 
for i in data:
    span = i.find("span")
    # 
    actual_price.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> Seventh data extraction: discount offered
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
discount = []
# 
for i in data:
    span = i.find('span',{'class': 'YWP1x'})
    discount.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)


# -----> Eighth data extration: model
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2YB7p'})
add_ons = []

for i in data:
    span = i.find("span",{'class':'_3JoYA'})
    add_ons.append(span.get_text() if span else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# ----->  last attribute : test drive location 
test_drive_loc = []
for i in soup:
    drive_location_div = i.find_all("div",{'class':'_2YB7p'})
    for i in drive_location_div:
        if i.find("p",{'class':'_3dGMY'}):
            p_tag = i.find_all("p",{'class':'_3dGMY'})
            for tag in p_tag:
                spans = tag.find_all("span")
                span = spans[1]
                if span:
                    test_drive_loc.append(span.get_text())
    else:
        tokens = soup.find_all("span",{'class':'_1MKmC'})
        for token in tokens:
            test_drive_loc.append(token.get_text())

    
# close the driver
driver.quit()


# feature spliting for brand and model from name list 
brand = []
car_model = []
for i in name:
    brand_name, model_name = i.split(" ",1)
    brand.append(brand_name)
    car_model.append(model_name)

# last data extraction : location
location = [soup.find("div",{'class':'_2SBi0'}).get_text()] * len(name)

assert len(brand) == len(car_model) == len(year) == len(km) == len(fuel_type) == len(transmission_type) == len(add_ons) == len(discount_price) == len(actual_price) == len(discount) == len(location) == len(test_drive_loc)
data = list(zip(brand, car_model, year, km, fuel_type, transmission_type, add_ons, discount_price, actual_price, discount, location, test_drive_loc))
columns = ['Brand', 'Model', 'Registered Year', 'Km Driven', 'Fuel Type', 'Transmission Type', 'Add ONs', 'Offer Price','Original Price','Discount Offered','Location','Test Drive Location']
homya_data_1 = pd.DataFrame(data, columns=columns)
homya_data_1

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Tata,TIGOR XZ PETROL,2018,"94,586 km",Petrol,Manual,Alloy wheels,₹4.16 Lakh,₹4.53 Lakh,(37k off),Mumbai,"Goregaon, Mumbai"
1,Tata,Tiago XZ PETROL,2017,"37,602 km",Petrol,Manual,Alloy wheels,₹3.90 Lakh,₹4.42 Lakh,(52.19k off),Mumbai,"Mulund West, Mumbai \n"
2,Tata,Tiago XZA PETROL,2019,"32,045 km",Petrol,Automatic,Top Model,₹5.14 Lakh,₹5.90 Lakh,(76k off),Mumbai,"Goregaon, Mumbai"
3,Tata,ALTROZ XZ PLUS PETROL,2021,"13,348 km",Petrol,Manual,Alloy wheels,₹7.44 Lakh,₹8.02 Lakh,(58.24k off),Mumbai,"Mulund West, Mumbai \n"
4,Tata,NEXON XZ PETROL,2021,"13,342 km",Petrol,Manual,Reg. serviced,₹8.62 Lakh,₹9.08 Lakh,(46k off),Mumbai,"Mulund West, Mumbai \n"
5,Tata,NEXON XZA PLUS DIESEL KAZIRANGA,2022,"37,152 km",Diesel,Automatic,Top Model,₹12.15 Lakh,₹12.65 Lakh,(50k off),Mumbai,"Goregaon, Mumbai"
6,Tata,Harrier XZ 2.0L,2019,"52,045 km",Diesel,Manual,Alloy wheels,₹12.68 Lakh,₹13.19 Lakh,(51k off),Mumbai,"Goregaon, Mumbai"
7,Tata,Tiago XZ PETROL,2018,"90,317 km",Petrol,Manual,Alloy wheels,₹3.90 Lakh,₹4.67 Lakh,(76.72k off),Mumbai,"Goregaon, Mumbai"
8,Tata,TIGOR XZ PLUS CNG,2022,"5,837 km",CNG,Manual,Reg. serviced,₹7.93 Lakh,₹8.45 Lakh,(52k off),Mumbai,"Goregaon, Mumbai"
9,Tata,ALTROZ XZ PETROL,2020,"47,992 km",Petrol,Manual,Alloy wheels,₹6.54 Lakh,₹7.69 Lakh,(1.15L off),Mumbai,Seawood\n
10,Tata,NEXON XZA PLUS DIESEL DUAL TONE,2018,"1,04,792 km",Diesel,Automatic,Top Model,₹6.68 Lakh,₹7.52 Lakh,(84k off),Mumbai,"Mulund West, Mumbai \n"
11,Tata,TIGOR XZ PLUS CNG,2022,"18,438 km",CNG,Manual,Reg. serviced,₹7.08 Lakh,₹8.31 Lakh,(1.23L off),Mumbai,Seawood\n
12,Tata,ALTROZ XZ PETROL,2020,"71,356 km",Petrol,Manual,Alloy wheels,₹6.69 Lakh,₹7.00 Lakh,(31.41k off),Mumbai,"Mulund West, Mumbai \n"
13,Tata,ALTROZ XZ PETROL,2020,"11,670 km",Petrol,Manual,Alloy wheels,₹6.93 Lakh,₹8.15 Lakh,(1.22L off),Mumbai,"Goregaon, Mumbai"
14,Tata,NEXON XZA PLUS PETROL,2019,"61,806 km",Petrol,Automatic,Top Model,₹7.73 Lakh,₹8.25 Lakh,(52k off),Mumbai,"Mulund West, Mumbai \n"
15,Tata,ALTROZ XZA PLUS,2022,"2,973 km",Petrol,Automatic,Alloy wheels,₹8.68 Lakh,₹10.14 Lakh,(1.46L off),Mumbai,"Goregaon, Mumbai"
16,Tata,NEXON XZA PLUS DIESEL,2019,"51,506 km",Diesel,Automatic,Top Model,₹8.36 Lakh,₹9.74 Lakh,(1.38L off),Mumbai,"Goregaon, Mumbai"
17,Tata,NEXON XZ PLUS PETROL,2022,"18,598 km",Petrol,Manual,Alloy wheels,₹8.98 Lakh,₹9.75 Lakh,(77k off),Mumbai,"Mulund West, Mumbai \n"
18,Tata,TIGOR XZA PLUS PETROL,2021,"39,046 km",Petrol,Automatic,Top Model,₹6.67 Lakh,₹7.34 Lakh,(66.73k off),Mumbai,"Goregaon, Mumbai"
19,Tata,ALTROZ XZ PETROL,2020,"27,102 km",Petrol,Manual,Alloy wheels,₹6.90 Lakh,₹7.33 Lakh,(43.14k off),Mumbai,"Mulund West, Mumbai \n"
20,Tata,Tiago XZ PETROL,2018,"76,127 km",Petrol,Manual,Alloy wheels,₹4.11 Lakh,₹4.62 Lakh,(51k off),Mumbai,"Mulund West, Mumbai \n"
21,Tata,Safari XZA PLUS ADVENTURE,2022,"42,408 km",Diesel,Automatic,Top Model,₹20.06 Lakh,₹20.69 Lakh,(63k off),Mumbai,"Goregaon, Mumbai"
22,Tata,ALTROZ XZA PLUS DARK EDTION,2022,"16,783 km",Petrol,Automatic,Top Model,₹8.07 Lakh,₹9.21 Lakh,(1.14L off),Mumbai,"Mulund West, Mumbai \n"
23,Tata,Harrier XZ 2.0L,2019,"57,037 km",Diesel,Manual,Alloy wheels,₹12.84 Lakh,N/A,N/A,Mumbai,"Goregaon, Mumbai"
24,Tata,NEXON XZ PLUS PETROL SUNROOF,2022,"35,275 km",Petrol,Manual,Sunroof,₹9.18 Lakh,₹9.56 Lakh,(38k off),Mumbai,"Mulund West, Mumbai \n"
25,Tata,ALTROZ XT PETROL,2021,"43,417 km",Petrol,Manual,Reg. serviced,₹6.37 Lakh,₹7.60 Lakh,(1.23L off),Mumbai,"Goregaon, Mumbai"
26,Tata,NEXON XZ PLUS PETROL SUNROOF,2021,"26,645 km",Petrol,Manual,Sunroof,₹9.14 Lakh,₹9.71 Lakh,(57k off),Mumbai,"Goregaon, Mumbai"
27,Tata,TIGOR XZ PLUS CNG,2023,"3,817 km",CNG,Manual,Reg. serviced,₹7.91 Lakh,₹9.00 Lakh,(1.09L off),Mumbai,"Goregaon, Mumbai"
28,Tata,ALTROZ XZA,2022,"10,206 km",Petrol,Automatic,Alloy wheels,₹8.38 Lakh,₹8.90 Lakh,(51.65k off),Mumbai,"Goregaon, Mumbai"
29,Tata,NEXON XM PETROL,2022,"5,448 km",Petrol,Manual,Reg. serviced,₹8.10 Lakh,N/A,N/A,Mumbai,"Mulund West, Mumbai \n"
30,Tata,ALTROZ XZ PETROL,2020,"23,825 km",Petrol,Manual,Alloy wheels,₹6.93 Lakh,₹8.04 Lakh,(1.11L off),Mumbai,"Mulund West, Mumbai \n"
31,Tata,TIGOR XE PETROL,2021,"52,153 km",Petrol,Manual,Reg. serviced,₹5.17 Lakh,₹6.09 Lakh,(92.38k off),Mumbai,"Mulund West, Mumbai \n"
32,Tata,Tiago XZA PLUS PETROL,2020,"6,375 km",Petrol,Automatic,Alloy wheels,₹6.08 Lakh,N/A,N/A,Mumbai,"Goregaon, Mumbai"
33,Tata,Tiago XZA PLUS PETROL,2021,"8,115 km",Petrol,Automatic,Alloy wheels,₹6.36 Lakh,₹7.62 Lakh,(1.26L off),Mumbai,Seawood\n
34,Tata,Harrier XZA PLUS 2.0L DARK EDITION,2021,"31,539 km",Diesel,Automatic,Top Model,₹18.69 Lakh,₹20.02 Lakh,(1.33L off),Mumbai,"Goregaon, Mumbai"
35,Tata,ALTROZ XZA PLUS,2022,"18,364 km",Petrol,Automatic,Alloy wheels,₹8.67 Lakh,₹9.80 Lakh,(1.13L off),Mumbai,Seawood\n
36,Tata,NEXON XZA PLUS (O) PETROL,2021,"26,213 km",Petrol,Automatic,Top Model,₹10.36 Lakh,N/A,N/A,Mumbai,"Goregaon, Mumbai"
37,Tata,Tiago XE PETROL,2021,"10,232 km",Petrol,Manual,Safety specs.,₹5.44 Lakh,N/A,N/A,Mumbai,"Goregaon, Mumbai"
38,Tata,NEXON XZA PLUS SUNROOF DIESEL,2020,"75,525 km",Diesel,Automatic,Top Model,₹9.86 Lakh,N/A,N/A,Mumbai,"Goregaon, Mumbai"
39,Tata,TIGOR XZ PLUS CNG,2022,"24,490 km",CNG,Manual,Reg. serviced,₹7.81 Lakh,₹8.30 Lakh,(49k off),Mumbai,Currently tokened
40,Tata,Safari XZ PLUS,2021,"16,603 km",Diesel,Manual,Top Model,₹18.78 Lakh,₹21.00 Lakh,(2.22L off),Mumbai,Currently tokened
41,Tata,NEXON XZA PLUS PETROL,2019,"18,798 km",Petrol,Automatic,Top Model,₹8.45 Lakh,₹9.22 Lakh,(77.33k off),Mumbai,Currently tokened
42,Tata,NEXON XZ PLUS PETROL,2018,"48,213 km",CNG,Manual,Alloy wheels,₹6.54 Lakh,₹7.21 Lakh,(67k off),Mumbai,Currently tokened
43,Tata,NEXON XZA PLUS PETROL,2018,"39,992 km",Petrol,Automatic,Top Model,₹7.39 Lakh,N/A,N/A,Mumbai,Currently tokened

In [26]:

link = 'https://www.cars24.com/buy-used-car?f=make%3A%3D%3Atata&sort=bestmatch&serveWarrantyCount=true&gaId=1279799800.1722605877&storeCityId=3686'
from selenium import webdriver
from selenium.webdriver.edge.service import Service
import pandas as pd
from bs4 import BeautifulSoup
import time
import os

cwd = os.getcwd()

# Specify the path to the Edge WebDriver executable file
driver_path = f"{cwd}\\edgedriver_win64\\msedgedriver.exe"

# Create a Service object with the executable path
service = Service(driver_path)

# Set up the Edge WebDriver using the Service object
driver = webdriver.Edge(service=service)

# Define the URL
# link = "https://www.cars24.com/buy-used-car?f=make%3A%3D%3Amaruti%3AOR%3Amake%3A%3D%3Ahonda%3AOR%3Amake%3A%3D%3Atata&sort=bestmatch&serveWarrantyCount=true&gaId=1279799800.1722605877&storeCityId=2"


# Function to scroll and load page content
def scroll_and_load_page(driver, scroll_pause_time=2):
    last_height = driver.execute_script("return document.body.scrollHeight")
    
    while True:
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        time.sleep(scroll_pause_time)
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

# Navigate to the Amazon.in best sellers page
driver.get(link)

# Wait for the page to load and perform scrolling
time.sleep(5)
scroll_and_load_page(driver)

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# First data extraction: Car names and years
car_name_year_elements = soup.find_all('h3', {'class': '_11dVb'})
car_name_year = [car.text for car in car_name_year_elements]

name = []  # spliting the car names from car_name_year and appending in name list
year = [] # spliting the year of registration from car_name_year and appending in year list

for i in car_name_year:
    car_year, car_name = i.split(" ",1)
    name.append(car_name)
    year.append(car_year)
    
# Reload the page to perform the second extraction
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> second data extraction: Km driven 
# Parse the page source again with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Second data extraction: Kilometers
km_elements = soup.find_all('ul', {'class': '_3J2G-'})
km = []

for i in km_elements:
    lis = i.find_all("li")
    if len(lis) >= 2:
        sec_li = lis[0]
        text = sec_li.get_text(strip=True)
        km.append(text if text else 'N/A')

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> Third data extraction: fuel type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
fuel_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[2]
        text = sec_li.get_text(strip=True)
        fuel_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fourth data extration: transmission type

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('ul', {'class': '_3J2G-'})
transmission_type = []

for i in data:
    lis = i.find_all("li")
    
    if len(lis) >=2:
        sec_li = lis[4]
        text = sec_li.get_text(strip=True)
        transmission_type.append(text if text else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> fifth data extraction: Discount price

# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('strong', {'class': '_3RL-I'})
discount_price = []

for i in data:
    discount_price.append(i.get_text() if i else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# -----> sixth data extraction: actual price
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
actual_price = []
# 
for i in data:
    span = i.find("span")
    # 
    actual_price.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)



# -----> Seventh data extraction: discount offered
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2KyOK'})
discount = []
# 
for i in data:
    span = i.find('span',{'class': 'YWP1x'})
    discount.append(span.get_text() if span else 'N/A')
    

# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)


# -----> Eighth data extration: model
# Parse the page source with BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Find all elements with the specified class
data = soup.find_all('div', {'class': '_2YB7p'})
add_ons = []

for i in data:
    span = i.find("span",{'class':'_3JoYA'})
    add_ons.append(span.get_text() if span else 'N/A')


# refresh the driver
driver.refresh()

# Wait for the page to reload and perform scrolling again
time.sleep(5)
scroll_and_load_page(driver)




# ----->  last attribute : test drive location 
test_drive_loc = []
for i in soup:
    drive_location_div = i.find_all("div",{'class':'_2YB7p'})
    for i in drive_location_div:
        if i.find("p",{'class':'_3dGMY'}):
            p_tag = i.find_all("p",{'class':'_3dGMY'})
            for tag in p_tag:
                spans = tag.find_all("span")
                span = spans[1]
                if span:
                    test_drive_loc.append(span.get_text())
    else:
        tokens = soup.find_all("span",{'class':'_1MKmC'})
        for token in tokens:
            test_drive_loc.append(token.get_text())

    
# close the driver
driver.quit()


# feature spliting for brand and model from name list 
brand = []
car_model = []
for i in name:
    brand_name, model_name = i.split(" ",1)
    brand.append(brand_name)
    car_model.append(model_name)

# last data extraction : location
location = [soup.find("div",{'class':'_2SBi0'}).get_text()] * len(name)

assert len(brand) == len(car_model) == len(year) == len(km) == len(fuel_type) == len(transmission_type) == len(add_ons) == len(discount_price) == len(actual_price) == len(discount) == len(location) == len(test_drive_loc)
data = list(zip(brand, car_model, year, km, fuel_type, transmission_type, add_ons, discount_price, actual_price, discount, location, test_drive_loc))
columns = ['Brand', 'Model', 'Registered Year', 'Km Driven', 'Fuel Type', 'Transmission Type', 'Add ONs', 'Offer Price','Original Price','Discount Offered','Location','Test Drive Location']
homya_data_2 = pd.DataFrame(data, columns=columns)
homya_data_2

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Tata,NEXON XZA PLUS (O) PETROL,2021,"16,677 km",Petrol,Automatic,Top Model,₹11.10 Lakh,₹11.67 Lakh,(57k off),Hyderabad,"Kompally, Hyderabad"
1,Tata,NEXON XZA PLUS (O) PETROL DUAL TONE,2022,"24,629 km",Petrol,Automatic,Top Model,₹11.69 Lakh,₹12.01 Lakh,(32.5k off),Hyderabad,"Attapur, Hyderabad"
2,Tata,NEXON XZA PLUS (O) PETROL,2021,"24,019 km",Petrol,Automatic,Top Model,₹11.37 Lakh,N/A,N/A,Hyderabad,"Attapur, Hyderabad"
3,Tata,ALTROZ XZ PETROL,2020,"44,602 km",Petrol,Manual,Alloy wheels,₹6.82 Lakh,₹7.73 Lakh,(90.52k off),Hyderabad,"Attapur, Hyderabad"
4,Tata,Tiago XZA PLUS PETROL,2021,"41,884 km",Petrol,Automatic,Alloy wheels,₹6.50 Lakh,₹6.80 Lakh,(29.71k off),Hyderabad,"Attapur, Hyderabad"
5,Tata,TIAGO NRG XZ MT,2021,"50,406 km",Petrol,Manual,Top Model,₹5.79 Lakh,₹6.64 Lakh,(85k off),Hyderabad,"Attapur, Hyderabad"
6,Tata,Tiago XZA PETROL,2017,"86,495 km",Petrol,Automatic,Top Model,₹4.44 Lakh,₹5.02 Lakh,(58.11k off),Hyderabad,"Kompally, Hyderabad"
7,Tata,ALTROZ XZ PETROL,2021,"43,222 km",Petrol,Manual,Alloy wheels,₹7.21 Lakh,N/A,N/A,Hyderabad,"Kompally, Hyderabad"
8,Tata,Tiago XZ PETROL,2018,"30,392 km",Petrol,Manual,Alloy wheels,₹4.68 Lakh,₹5.37 Lakh,(69.33k off),Hyderabad,"Bachupally, Hyderabad"
9,Tata,Tiago XZ PLUS DUAL TONE PETROL,2020,"61,102 km",Petrol,Manual,Alloy wheels,₹5.84 Lakh,₹6.83 Lakh,(99.29k off),Hyderabad,"Attapur, Hyderabad"
10,Tata,NEXON XZA PLUS DIESEL,2018,"37,484 km",Diesel,Automatic,Top Model,₹8.33 Lakh,₹9.10 Lakh,(77.48k off),Hyderabad,"Attapur, Hyderabad"
11,Tata,Tiago XM PETROL,2017,"72,749 km",Petrol,Manual,N/A,₹4.04 Lakh,₹4.41 Lakh,(37k off),Hyderabad,"Kompally, Hyderabad"
12,Tata,NEXON XZ PLUS (O) PETROL,2020,"46,626 km",Petrol,Manual,Sunroof,₹9.56 Lakh,₹10.33 Lakh,(77.28k off),Hyderabad,"Bachupally, Hyderabad"
13,Tata,Tiago XT PETROL,2021,"52,679 km",Petrol,Manual,Reg. serviced,₹5.48 Lakh,₹6.25 Lakh,(77.19k off),Hyderabad,"Bachupally, Hyderabad"
14,Tata,ALTROZ XZ PETROL,2021,"53,218 km",Petrol,Manual,Alloy wheels,₹7.30 Lakh,₹7.97 Lakh,(67.24k off),Hyderabad,"Bachupally, Hyderabad"
15,Tata,NEXON XZA PLUS (L),2022,"32,111 km",Petrol,Automatic,Alloy wheels,₹11.04 Lakh,₹11.72 Lakh,(68.07k off),Hyderabad,"Kompally, Hyderabad"
16,Tata,Tiago XZ PETROL,2019,"65,331 km",Petrol,Manual,Reg. serviced,₹4.56 Lakh,₹5.48 Lakh,(91.57k off),Hyderabad,"Kompally, Hyderabad"
17,Tata,TIGOR XE PETROL,2021,"47,778 km",Petrol,Manual,Reg. serviced,₹5.77 Lakh,₹6.21 Lakh,(44.3k off),Hyderabad,"Bachupally, Hyderabad"
18,Tata,NEXON XM PLUS SUNROOF PETROL,2023,"10,718 km",Petrol,Manual,Sunroof,₹9.98 Lakh,N/A,N/A,Hyderabad,"Bachupally, Hyderabad"
19,Tata,ALTROZ XZ PETROL,2020,"35,548 km",Petrol,Manual,Alloy wheels,₹7.23 Lakh,₹7.97 Lakh,(73.82k off),Hyderabad,"Bachupally, Hyderabad"
20,Tata,NEXON XZA PLUS (O) PETROL DUAL TONE,2020,"85,380 km",Petrol,Automatic,Top Model,₹10.60 Lakh,N/A,N/A,Hyderabad,"Attapur, Hyderabad"
21,Tata,NEXON XZA PLUS PETROL,2020,"63,677 km",Petrol,Automatic,Alloy wheels,₹8.77 Lakh,N/A,N/A,Hyderabad,"Bachupally, Hyderabad"
22,Tata,NEXON XZA PLUS PETROL,2023,"27,320 km",Petrol,Automatic,Alloy wheels,₹11.26 Lakh,N/A,N/A,Hyderabad,"Kompally, Hyderabad"
23,Tata,ALTROZ XZA PLUS DARK EDTION,2022,"28,466 km",Petrol,Automatic,Top Model,₹8.83 Lakh,₹9.66 Lakh,(82.73k off),Hyderabad,"Attapur, Hyderabad"
24,Tata,NEXON XZ PLUS PETROL,2020,"75,042 km",Petrol,Manual,Alloy wheels,₹8.26 Lakh,N/A,N/A,Hyderabad,"Kompally, Hyderabad"
25,Tata,ALTROZ XZ PETROL,2022,"36,608 km",Petrol,Manual,Alloy wheels,₹8.06 Lakh,N/A,N/A,Hyderabad,"Kompally, Hyderabad"
26,Tata,PUNCH ACCOMPLISHED DAZZLE PACK MT,2022,"12,157 km",Petrol,Manual,Alloy wheels,₹8.21 Lakh,N/A,N/A,Hyderabad,"Kompally, Hyderabad"
27,Tata,Tiago XT PETROL,2019,"95,660 km",Petrol,Manual,Reg. serviced,₹4.56 Lakh,N/A,N/A,Hyderabad,"Attapur, Hyderabad"
28,Tata,TIGOR XZ PLUS PETROL,2020,"49,158 km",Petrol,Manual,Alloy wheels,₹6.66 Lakh,₹7.28 Lakh,(62k off),Hyderabad,"Kompally, Hyderabad"
29,Tata,Tiago XZ PETROL,2018,"63,045 km",Petrol,Manual,Alloy wheels,₹4.65 Lakh,₹5.27 Lakh,(61.75k off),Hyderabad,"Attapur, Hyderabad"
30,Tata,TIGOR XZ (O) PETROL,2018,"77,786 km",Petrol,Manual,Alloy wheels,₹4.58 Lakh,N/A,N/A,Hyderabad,"Kompally, Hyderabad"
31,Tata,NEXON XZA PLUS (O) PETROL,2021,"23,893 km",Petrol,Automatic,Top Model,₹10.45 Lakh,₹11.30 Lakh,(84.89k off),Hyderabad,"Attapur, Hyderabad"
32,Tata,NEXON XZ PLUS (PREMIUM) PETROL,2022,"22,121 km",Petrol,Manual,Sunroof,₹11.34 Lakh,₹11.53 Lakh,(19.15k off),Hyderabad,"Bachupally, Hyderabad"
33,Tata,Tiago XE PETROL,2020,"57,810 km",Petrol,Manual,Safety specs.,₹4.63 Lakh,₹5.49 Lakh,(86.5k off),Hyderabad,"Kompally, Hyderabad"
34,Tata,NEXON XZ PLUS (O) PETROL DUAL TONE,2020,"23,529 km",Petrol,Manual,Sunroof,₹9.16 Lakh,₹10.26 Lakh,(1.1L off),Hyderabad,"Kompally, Hyderabad"
35,Tata,NEXON XZ PLUS PETROL DUAL TONE,2019,"72,094 km",Petrol,Manual,Alloy wheels,₹8.08 Lakh,₹8.46 Lakh,(38.35k off),Hyderabad,"Kompally, Hyderabad"
36,Tata,NEXON XZ PLUS (O) PETROL DUAL TONE,2020,"22,741 km",Petrol,Manual,Sunroof,₹9.12 Lakh,₹10.14 Lakh,(1.02L off),Hyderabad,"Bachupally, Hyderabad"
37,Tata,Tiago XZ PLUS PETROL,2019,"39,154 km",Petrol,Manual,Alloy wheels,₹5.58 Lakh,N/A,N/A,Hyderabad,Currently tokened
38,Tata,NEXON XZ PLUS (O) DIESEL DUAL TONE,2020,"51,910 km",Diesel,Manual,Spl. reg. no.,₹8.28 Lakh,₹10.36 Lakh,(2.08L off),Hyderabad,Currently tokened
39,Tata,NEXON XM PETROL,2020,"45,935 km",Petrol,Manual,Reg. serviced,₹7.24 Lakh,₹7.83 Lakh,(59k off),Hyderabad,Currently tokened
40,Tata,NEXON XMA SUNROOF PETROL,2023,"5,856 km",Petrol,Automatic,Sunroof,₹10.26 Lakh,N/A,N/A,Hyderabad,Currently tokened
41,Tata,Tiago XZ PETROL,2018,"70,841 km",Petrol,Manual,Alloy wheels,₹4.65 Lakh,₹5.40 Lakh,(74.75k off),Hyderabad,Currently tokened
42,Tata,PUNCH ADVENTURE RHYTHM PACK MT,2022,"5,291 km",Petrol,Manual,Reg. serviced,₹7.02 Lakh,N/A,N/A,Hyderabad,Currently tokened
43,Tata,NEXON XZ PLUS PETROL,2020,"44,067 km",Petrol,Manual,Alloy wheels,₹7.91 Lakh,N/A,N/A,Hyderabad,Currently tokened
44,Tata,ALTROZ XE PETROL,2020,"11,528 km",Petrol,Manual,Safety specs.,₹5.53 Lakh,N/A,N/A,Hyderabad,Currently tokened
45,Tata,PUNCH CREATIVE AMT,2023,"11,767 km",Petrol,Automatic,Alloy wheels,₹9.51 Lakh,N/A,N/A,Hyderabad,Currently tokened

In [28]:
homya_data_1.to_excel(f'{cwd}\\homya_data_1.xlsx', index=False)
homya_data_2.to_excel(f'{cwd}\\homya_data_2.xlsx', index=False)

----
---

# Data Cleaning

In [8]:
import pandas as pd  
import os

cwd = os.getcwd()

data_1 = pd.read_excel(f"{cwd}\\output_file.xlsx")
data_2 = pd.read_excel(f"{cwd}\\ankesh.xlsx")
data_3 = pd.read_excel(f"{cwd}\\homya_data_2.xlsx")
data_4 = pd.read_excel(f"{cwd}\\nazar_data.xlsx")
data_5 = pd.read_excel(f"{cwd}\\homya_data_1.xlsx")

In [9]:
dataframe=[data_1,data_2,data_3,data_4,data_5]
merged_df = pd.concat(dataframe, ignore_index=True)
merged_df.to_excel(f'{cwd}\\merged_file.xlsx', index=False)

In [10]:
merged_data = pd.read_excel(f'{cwd}\\merged_file.xlsx')

In [11]:
merged_data

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,₹2.31 Lakh,₹2.60 Lakh,(28.76k off),New Delhi,NaN
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,₹3.33 Lakh,₹3.56 Lakh,(23k off),New Delhi,NaN
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,₹5.57 Lakh,₹6.13 Lakh,(56k off),New Delhi,NaN
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,₹3.98 Lakh,₹4.29 Lakh,(31k off),New Delhi,NaN
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,₹6.00 Lakh,₹6.45 Lakh,(44.53k off),New Delhi,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1199,Tata,TIGOR XZ PLUS CNG,2022,"24,490 km",CNG,Manual,Reg. serviced,₹7.81 Lakh,₹8.30 Lakh,(49k off),Mumbai,Currently tokened
1200,Tata,Safari XZ PLUS,2021,"16,603 km",Diesel,Manual,Top Model,₹18.78 Lakh,₹21.00 Lakh,(2.22L off),Mumbai,Currently tokened
1201,Tata,NEXON XZA PLUS PETROL,2019,"18,798 km",Petrol,Automatic,Top Model,₹8.45 Lakh,₹9.22 Lakh,(77.33k off),Mumbai,Currently tokened
1202,Tata,NEXON XZ PLUS PETROL,2018,"48,213 km",CNG,Manual,Alloy wheels,₹6.54 Lakh,₹7.21 Lakh,(67k off),Mumbai,Currently tokened
1203,Tata,NEXON XZA PLUS PETROL,2018,"39,992 km",Petrol,Automatic,Top Model,₹7.39 Lakh,NaN,NaN,Mumbai,Currently tokened

In [12]:
merged_data.isna().sum()

Brand                    0
Model                    0
Registered Year          0
Km Driven                0
Fuel Type                0
Transmission Type        0
Add ONs                  2
Offer Price              0
Original Price         272
Discount Offered       274
Location                 0
Test Drive Location    535
dtype: int64

In [15]:
merged_data.fillna(0, inplace=True)

In [16]:
merged_data.isna().sum()

Brand                  0
Model                  0
Registered Year        0
Km Driven              0
Fuel Type              0
Transmission Type      0
Add ONs                0
Offer Price            0
Original Price         0
Discount Offered       0
Location               0
Test Drive Location    0
dtype: int64

In [17]:
merged_data.head()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,₹2.31 Lakh,₹2.60 Lakh,(28.76k off),New Delhi,0
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,₹3.33 Lakh,₹3.56 Lakh,(23k off),New Delhi,0
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,₹5.57 Lakh,₹6.13 Lakh,(56k off),New Delhi,0
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,₹3.98 Lakh,₹4.29 Lakh,(31k off),New Delhi,0
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,₹6.00 Lakh,₹6.45 Lakh,(44.53k off),New Delhi,0

In [31]:
def convert_to_float(price_str):
    if isinstance(price_str, str):
        # Remove rupee symbol and "Lakh" text, and convert to float
        price_str = price_str.replace('₹', '').replace(' Lakh', '').strip()
        return float(price_str) * 100000
    return None

# Apply the conversion function
merged_data['Offer Price'] = merged_data['Offer Price'].apply(convert_to_float)

In [33]:
merged_data.head()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,231000.0,₹2.60 Lakh,(28.76k off),New Delhi,0
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,333000.0,₹3.56 Lakh,(23k off),New Delhi,0
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,557000.0,₹6.13 Lakh,(56k off),New Delhi,0
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,398000.0,₹4.29 Lakh,(31k off),New Delhi,0
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,600000.0,₹6.45 Lakh,(44.53k off),New Delhi,0

In [34]:
def convert_to_float(price_str):
    if isinstance(price_str, str):
        # Remove rupee symbol and "Lakh" text, and convert to float
        price_str = price_str.replace('₹', '').replace(' Lakh', '').strip()
        return float(price_str) * 100000
    return None

# Apply the conversion function
merged_data['Original Price'] = merged_data['Original Price'].apply(convert_to_float)

In [35]:
merged_data.head()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,231000.0,260000.0,(28.76k off),New Delhi,0
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,333000.0,356000.0,(23k off),New Delhi,0
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,557000.0,613000.0,(56k off),New Delhi,0
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,398000.0,429000.0,(31k off),New Delhi,0
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,600000.0,645000.0,(44.53k off),New Delhi,0

In [36]:
merged_data['Discount Offered']

0       (28.76k off)
1          (23k off)
2          (56k off)
3          (31k off)
4       (44.53k off)
            ...
1199       (49k off)
1200     (2.22L off)
1201    (77.33k off)
1202       (67k off)
1203               0
Name: Discount Offered, Length: 1204, dtype: object

In [38]:
def convert_discount(discount_str):
    if isinstance(discount_str, str):
        # Remove parentheses and text
        discount_str = discount_str.replace('(', '').replace(')', '').replace(' off', '').strip()
        
        # Handle thousands and lakhs
        if 'L' in discount_str:
            discount_str = discount_str.replace('L', '').strip()
            return float(discount_str) * 100000  # Convert lakhs to actual number
        elif 'k' in discount_str:
            discount_str = discount_str.replace('k', '').strip()
            return float(discount_str) * 1000  # Convert thousands to actual number
        else:
            return float(discount_str)  # Already in actual number
    return None

# Apply the conversion function
merged_data['Discount Offered'] = merged_data['Discount Offered'].apply(convert_discount)

In [40]:
merged_data.tail()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
1199,Tata,TIGOR XZ PLUS CNG,2022,"24,490 km",CNG,Manual,Reg. serviced,781000.0,830000.0,49000.0,Mumbai,Currently tokened
1200,Tata,Safari XZ PLUS,2021,"16,603 km",Diesel,Manual,Top Model,1878000.0,2100000.0,222000.0,Mumbai,Currently tokened
1201,Tata,NEXON XZA PLUS PETROL,2019,"18,798 km",Petrol,Automatic,Top Model,845000.0,922000.0,77330.0,Mumbai,Currently tokened
1202,Tata,NEXON XZ PLUS PETROL,2018,"48,213 km",CNG,Manual,Alloy wheels,654000.0,721000.0,67000.0,Mumbai,Currently tokened
1203,Tata,NEXON XZA PLUS PETROL,2018,"39,992 km",Petrol,Automatic,Top Model,739000.0,NaN,NaN,Mumbai,Currently tokened

In [41]:
merged_data['Km Driven']

0         97,698 km
1       1,02,460 km
2         35,190 km
3         63,194 km
4         82,375 km
           ...
1199      24,490 km
1200      16,603 km
1201      18,798 km
1202      48,213 km
1203      39,992 km
Name: Km Driven, Length: 1204, dtype: object

In [42]:
# Function to clean and convert km driven
def convert_km(km_str):
    if isinstance(km_str, str):
        # Remove ' km' and commas
        km_str = km_str.replace(' km', '').replace(',', '')
        return int(km_str)  # Convert to integer
    return pd.NA

# Apply the conversion function
merged_data['Km Driven'] = merged_data['Km Driven'].apply(convert_km)

In [43]:
merged_data.head()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,97698,Petrol,Manual,Low run cost,231000.0,260000.0,28760.0,New Delhi,0
1,Maruti,Swift VXI,2015,102460,Petrol,Manual,Reg. serviced,333000.0,356000.0,23000.0,New Delhi,0
2,Maruti,Baleno DELTA PETROL 1.2,2019,35190,Petrol,Manual,Safety specs.,557000.0,613000.0,56000.0,New Delhi,0
3,Maruti,Celerio VXI,2019,63194,Petrol,Manual,Reg. serviced,398000.0,429000.0,31000.0,New Delhi,0
4,Tata,NEXON XZ PLUS PETROL,2017,82375,Petrol,Manual,Alloy wheels,600000.0,645000.0,44530.0,New Delhi,0