# Cleaning Data collected by Web Scrappers from Cars24.com

---

## Loading all the excel files

In [28]:
import pandas as pd  
import os

cwd = os.getcwd()

data_1 = pd.read_excel(f"{cwd}\\satwik.xlsx")
data_2 = pd.read_excel(f"{cwd}\\ankesh.xlsx")
data_3 = pd.read_excel(f"{cwd}\\homya_data_2.xlsx")
data_4 = pd.read_excel(f"{cwd}\\nazar_data.xlsx")
data_5 = pd.read_excel(f"{cwd}\\homya_data_1.xlsx")

---

## Merging all files into one and save into the local disc

In [29]:
dataframe=[data_1,data_2,data_3,data_4,data_5]
merged_df = pd.concat(dataframe, ignore_index=True)
merged_df.to_excel(f'{cwd}\\merged_file.xlsx', index=False)

---

## Loading the merged file

In [30]:
merged_data = pd.read_excel(f'{cwd}\\merged_file.xlsx')

In [31]:
merged_data.head()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,₹2.31 Lakh,₹2.60 Lakh,(28.76k off),New Delhi,"Chhatarpur, Delhi"
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,₹3.33 Lakh,₹3.56 Lakh,(23k off),New Delhi,"Metro Walk, Rohini, New Delhi"
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,₹5.57 Lakh,₹6.13 Lakh,(56k off),New Delhi,"Chhatarpur, Delhi"
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,₹3.98 Lakh,₹4.29 Lakh,(31k off),New Delhi,"M3M Urbana, Golf Course Ext., Gurugram"
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,₹6.00 Lakh,₹6.45 Lakh,(44.53k off),New Delhi,"Metro Walk, Rohini, New Delhi"

----

# Data Cleaning

----

## Finding Missing values

In [32]:
merged_data.isna().sum()

Brand                    0
Model                    0
Registered Year          0
Km Driven                0
Fuel Type                0
Transmission Type        0
Add ONs                  2
Offer Price              0
Original Price         267
Discount Offered       268
Location                 0
Test Drive Location      0
dtype: int64

---

## Handling Missing values

**Replace the N/A values with 0(string datatype). Because all the values in the dataset are in str datatype**

In [33]:
merged_data.fillna("0", inplace=True)

In [34]:
merged_data.isna().sum()

Brand                  0
Model                  0
Registered Year        0
Km Driven              0
Fuel Type              0
Transmission Type      0
Add ONs                0
Offer Price            0
Original Price         0
Discount Offered       0
Location               0
Test Drive Location    0
dtype: int64

---

In [35]:
merged_data.head()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,₹2.31 Lakh,₹2.60 Lakh,(28.76k off),New Delhi,"Chhatarpur, Delhi"
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,₹3.33 Lakh,₹3.56 Lakh,(23k off),New Delhi,"Metro Walk, Rohini, New Delhi"
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,₹5.57 Lakh,₹6.13 Lakh,(56k off),New Delhi,"Chhatarpur, Delhi"
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,₹3.98 Lakh,₹4.29 Lakh,(31k off),New Delhi,"M3M Urbana, Golf Course Ext., Gurugram"
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,₹6.00 Lakh,₹6.45 Lakh,(44.53k off),New Delhi,"Metro Walk, Rohini, New Delhi"

---

## Cleaning of Offer price column

- Removing rupee symbol
- Removing Lakh
- Converting them into float
- normalizing them into lakhs by multiplying with 100000

In [36]:
def convert_to_float(price_str):
    if isinstance(price_str, str):
        # Remove rupee symbol and "Lakh" text, and convert to float
        price_str = price_str.replace('₹', '').replace(' Lakh', '').strip()
        return float(price_str) * 100000
    return None

# Apply the conversion function
merged_data['Offer Price'] = merged_data['Offer Price'].apply(convert_to_float)

In [37]:
merged_data.head()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,231000.0,₹2.60 Lakh,(28.76k off),New Delhi,"Chhatarpur, Delhi"
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,333000.0,₹3.56 Lakh,(23k off),New Delhi,"Metro Walk, Rohini, New Delhi"
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,557000.0,₹6.13 Lakh,(56k off),New Delhi,"Chhatarpur, Delhi"
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,398000.0,₹4.29 Lakh,(31k off),New Delhi,"M3M Urbana, Golf Course Ext., Gurugram"
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,600000.0,₹6.45 Lakh,(44.53k off),New Delhi,"Metro Walk, Rohini, New Delhi"

---

## Cleaning Original Price Column

- Removing rupee symbol
- Removing Lakh
- Converting them into float
- normalizing them into lakhs by multiplying with 100000

In [38]:
def convert_to_float(price_str):
    if isinstance(price_str, str):
        # Remove rupee symbol and "Lakh" text, and convert to float
        price_str = price_str.replace('₹', '').replace(' Lakh', '').strip()
        return float(price_str) * 100000
    return None

# Apply the conversion function
merged_data['Original Price'] = merged_data['Original Price'].apply(convert_to_float)

In [39]:
merged_data.head()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,"97,698 km",Petrol,Manual,Low run cost,231000.0,260000.0,(28.76k off),New Delhi,"Chhatarpur, Delhi"
1,Maruti,Swift VXI,2015,"1,02,460 km",Petrol,Manual,Reg. serviced,333000.0,356000.0,(23k off),New Delhi,"Metro Walk, Rohini, New Delhi"
2,Maruti,Baleno DELTA PETROL 1.2,2019,"35,190 km",Petrol,Manual,Safety specs.,557000.0,613000.0,(56k off),New Delhi,"Chhatarpur, Delhi"
3,Maruti,Celerio VXI,2019,"63,194 km",Petrol,Manual,Reg. serviced,398000.0,429000.0,(31k off),New Delhi,"M3M Urbana, Golf Course Ext., Gurugram"
4,Tata,NEXON XZ PLUS PETROL,2017,"82,375 km",Petrol,Manual,Alloy wheels,600000.0,645000.0,(44.53k off),New Delhi,"Metro Walk, Rohini, New Delhi"

---

## Cleaning Discount Offered column

- Removing Parenthesis
- Removing "off"
- Converting them into float
- normalizing them into thousands and lakhs by multiplying with 1000 and 100000 respectively

In [41]:
def convert_discount(discount_str):
    if isinstance(discount_str, str):
        # Remove parentheses and text
        discount_str = discount_str.replace('(', '').replace(')', '').replace(' off', '').strip()
        
        # Handle thousands and lakhs
        if 'L' in discount_str:
            discount_str = discount_str.replace('L', '').strip()
            return float(discount_str) * 100000  # Convert lakhs to actual number
        elif 'k' in discount_str:
            discount_str = discount_str.replace('k', '').strip()
            return float(discount_str) * 1000  # Convert thousands to actual number
        else:
            return float(discount_str)  # Already in actual number
    return None

# Apply the conversion function
merged_data['Discount Offered'] = merged_data['Discount Offered'].apply(convert_discount)

In [42]:
merged_data.tail()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
1193,Tata,TIGOR XZ PLUS CNG,2022,"24,490 km",CNG,Manual,Reg. serviced,781000.0,830000.0,49000.0,Mumbai,Currently tokened
1194,Tata,Safari XZ PLUS,2021,"16,603 km",Diesel,Manual,Top Model,1878000.0,2100000.0,222000.0,Mumbai,Currently tokened
1195,Tata,NEXON XZA PLUS PETROL,2019,"18,798 km",Petrol,Automatic,Top Model,845000.0,922000.0,77330.0,Mumbai,Currently tokened
1196,Tata,NEXON XZ PLUS PETROL,2018,"48,213 km",CNG,Manual,Alloy wheels,654000.0,721000.0,67000.0,Mumbai,Currently tokened
1197,Tata,NEXON XZA PLUS PETROL,2018,"39,992 km",Petrol,Automatic,Top Model,739000.0,0.0,0.0,Mumbai,Currently tokened

---

## Cleaning Km Driven Column

- Removing km
- Removing ","
- Converting them into int datatype

In [44]:
# Function to clean and convert km driven
def convert_km(km_str):
    if isinstance(km_str, str):
        # Remove ' km' and commas
        km_str = km_str.replace(' km', '').replace(',', '')
        return int(km_str)  # Convert to integer
    return pd.NA

# Apply the conversion function
merged_data['Km Driven'] = merged_data['Km Driven'].apply(convert_km)

In [45]:
merged_data.head()

,Brand,Model,Registered Year,Km Driven,Fuel Type,Transmission Type,Add ONs,Offer Price,Original Price,Discount Offered,Location,Test Drive Location
0,Maruti,Alto 800 LXI,2016,97698,Petrol,Manual,Low run cost,231000.0,260000.0,28760.0,New Delhi,"Chhatarpur, Delhi"
1,Maruti,Swift VXI,2015,102460,Petrol,Manual,Reg. serviced,333000.0,356000.0,23000.0,New Delhi,"Metro Walk, Rohini, New Delhi"
2,Maruti,Baleno DELTA PETROL 1.2,2019,35190,Petrol,Manual,Safety specs.,557000.0,613000.0,56000.0,New Delhi,"Chhatarpur, Delhi"
3,Maruti,Celerio VXI,2019,63194,Petrol,Manual,Reg. serviced,398000.0,429000.0,31000.0,New Delhi,"M3M Urbana, Golf Course Ext., Gurugram"
4,Tata,NEXON XZ PLUS PETROL,2017,82375,Petrol,Manual,Alloy wheels,600000.0,645000.0,44530.0,New Delhi,"Metro Walk, Rohini, New Delhi"

---

## Saving the Cleaned data

In [46]:
cleaned_data = merged_data.to_excel(f"{cwd}\\cleaned_data.xlsx", index=False)